.row1{
    background-color: rgba(242, 242, 242);
    display: block;
    display: flex;
    border-top-width: 0px;
    margin-bottom: 0px;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  *{
    padding-left: 3%;
    padding-right: 3%;
    margin: 0%;
    padding-bottom: 0%;
  }

      /*
       * Extra utilities
       */
      
       .flex-equal > * {
        -ms-flex: 1;
        flex: 1;
      }
      @media (min-width: 768px) {
        .flex-md-equal > * {
          -ms-flex: 1;
          flex: 1;
        }
      }
      
      .overflow-hidden { overflow: hidden; }
